/** Media Responsiveness min-width: 460px */
@media (min-width: 460px) {
  /* Why */
  .why .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Event Page */
  .event_hero .event_content .heading {
    font-size: 30px;
    line-height: 2.5rem;
  }

  .event_hero .event_content .location {
    flex-direction: row;
    gap: 15px;
  }

  .event_hero .event_content .count_down .time {
    font-size: 30px;
    font-weight: 700;
  }

  /* Event Category */
  .event_category .wrapper {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 10px;
  }

  /* Upcoming Events */
  .upcoming_events .upcoming_box .banner_img_box {
    height: 200px;
  }

  .upcoming_events .upcoming_details {
    grid-template-columns: repeat(4, 1fr);
  }

  .upcoming_events .interested_details {
    grid-template-columns: repeat(3, 1fr);
  }

  .upcoming_events .upcoming_details .details_box,
  .upcoming_events .interested_details .details_box {
    flex-direction: row;
    align-items: start;
    text-align: start;
  }

  .upcoming_events .upcoming_details .details_box img,
  .upcoming_events .interested_details .details_box img {
    margin: 0;
  }

  /* Experts */
  .experts .wrapper {
    padding: 0 40px;
  }

  .experts .experts_box .profile_details .name {
    font-size: 25px;
  }

  .experts .experts_box .profile_details .skills {
    font-size: 16px;
  }

  /* Community */
  .community_hero .community_content {
    padding: 50px 0;
  }

  .community_hero .community_content .heading {
    font-size: 28px;
  }

  .community_hero .community_content .description {
    font-size: 18px;
  }

  /* News Feed */
  .news_feed_section .news_feed .feed_box .tabs {
    ul {
      width: 100%;
    }
  }
}

/** Media Responsiveness min-width: 560px */

@media (min-width: 560px) {
  /* _________Home */
  /* Header */
  .header {
    .wrapper {
      padding: 15px 15px;
      .logo {
        max-width: 50px;
        width: 100%;
      }

      .navbar {
        .nav_links {
          width: 50%;

          /* Mobile Logo */
          .mobile_logo {
            max-width: 50px;
            width: 100%;
          }

          .nav_item {
            font-size: 18px;
          }
        }
      }
    }
  }

  .btn {
    padding: 6px 12px;
    font-size: 16px;
  }

  .heading {
    font-size: 35px;
  }

  .description {
    font-size: 18px;
  }

  /* Hero */

  .hero {
    .hero_content {
      max-width: 500px;

      .heading {
        font-size: 50px;
      }
      .sub_heading {
        font-size: 25px;
      }
      .description {
        font-size: 18px;
      }
    }
  }

  /* Most Popular */
  .most_popular,
  .searching_event .searching_container {
    padding: 30px;
  }

  .popular_header {
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-align: start;
  }

  .most_popular .courses_span {
    flex-direction: row;
  }

  .most_popular .courses_span .courses_span_card {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  /* Training slider */

  .slider {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Successful story */
  .successful_story .successful_items {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .successful_story .successful_box .profile_box .name {
    font-size: 20px;
  }

  /* Visitor */

  .visitor_section .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .visitor_section .visitor_card {
    border-bottom: none;
    border-right: 4px solid var(--border-color);
  }

  .visitor_section .visitor_card .title {
    font-size: 24px;
  }

  .visitor_section .visitor_card .span {
    font-size: 30px;
  }

  /* Celebrity */

  .celebrity_seminar .profile_box {
    gap: 20px;
  }

  .celebrity_seminar .profile_box .profile {
    max-width: 130px;
    height: 150px;
    border-radius: 8px;
    overflow: hidden;

    .profile_img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .celebrity_seminar .profile_box .profile_data .name {
    font-size: 25px;
  }

  .celebrity_seminar .profile_box .profile_data .qualification {
    font-size: 19px;
    padding: 8px 0 0 0;
  }

  .celebrity_seminar .profile_box .profile_data .skills {
    font-size: 16px;
  }

  .celebrity_seminar .seminar_details {
    text-align: center;
    font-size: 20px;
  }

  /* Footer */
  .footer .wrapper {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
  }

  /* About page */
  .courses_hero .heading {
    font-size: 35px;
  }

  /* Why */
  .why {
    padding: 70px 30px;
  }

  /* Our Instructor */
  .our_instructor .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Event Page */

  .event_hero .event_content .heading {
    font-size: 40px;
    line-height: 3.4rem;
  }

  .event_hero .event_content .location {
    gap: 25px;
  }

  .event_hero .event_content .location .location_box {
    gap: 10px;

    img {
      max-width: 25px;
    }
  }

  .event_hero .event_content .location .location_box .title {
    font-size: 19px;
  }

  .event_hero .event_content .count_down .time {
    font-size: 40px;
  }

  .event_hero .event_content .count_down .title {
    font-size: 18px;
    margin-left: 5px;
  }

  /* Searching Event */
  .searching_event .searching_container .heading {
    font-size: 25px;
  }

  /* Event Category */
  .event_category .wrapper {
    padding: 0 40px;
  }

  /* Experts */
  .experts .wrapper {
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
  }

  /* Community */
  .community_hero {
    margin-top: 85px;
  }

  .community_hero .community_content .heading {
    font-size: 34px;
  }

  .community_hero .connected-people span {
    font-size: 2.5rem;
  }

  /* News feed */
  .news_feed_section .news_feed .feed_box .area_box {
    padding: 20px 30px 0;
  }

  .news_feed_section .news_feed .feed_box .icon_box{
    padding: 15px 30px;
  }

  /* Sidebar */
.news_feed_section .sidebar{
  margin-top: 0;
}
}

/** Media Responsiveness min-width: 768px */

@media (min-width: 768px) {
  /* Container */
  .container {
    width: 750px;
  }

  .container .description {
    max-width: 500px;
  }

  /* Most Popular */

  .most_popular .courses_span {
    padding: 20px 60px 20px;
  }

  /* Training slider */

  .slider {
    grid-template-columns: repeat(2, 1fr);
  }

  .slider .slider_body {
    padding: 20px;
  }

  .slider .slider_body .slider_heading {
    font-size: 25px;
  }

  /* Successful Story */

  .successful_story .successful_items {
    gap: 40px;
  }

  /* Visitor */

  .visitor_section .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .visitor_section .visitor_card .title {
    font-size: 30px;
  }

  .visitor_section .visitor_card .span {
    font-size: 40px;
    font-weight: 700;
  }

  /* Celebrity */

  .celebrity_seminar .seminar_items {
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
  }

  .celebrity_seminar .profile_box .profile {
    max-width: 90px;
    height: 110px;
  }

  .celebrity_seminar .profile_box .profile_data .name {
    font-size: 19px;
  }

  .celebrity_seminar .profile_box .profile_data .qualification {
    font-size: 16px;
  }

  .celebrity_seminar .seminar_details .heading {
    font-size: 25px;
  }

  /* Footer */
  .footer .wrapper {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
  }

  /* About Page */

  .courses_hero .heading {
    text-align: start;
  }

  .courses_hero .sub_header {
    flex-direction: row;
  }

  .courses_hero .description {
    text-align: start;
  }

  /* Why */
  .why {
    padding-right: 0;
    padding-left: 0;
  }

  .why .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  /* Our Instructor */
  .our_instructor {
    padding-left: 10px;
    padding-right: 10px;
  }

  .our_instructor .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  /* About page */
  .event_hero .event_content {
    max-width: 90%;
  }

  .event_hero .event_content .heading {
    font-size: 50px;
    line-height: 4.2rem;
  }

  .event_hero .event_content .count_down {
    gap: 30px;
  }

  .event_hero .event_content .count_down .time {
    font-size: 50px;
  }

  .event_hero .event_content .count_down .title {
    font-size: 22px;
    font-weight: 700;
    margin-left: 5px;
  }

  .event_hero .event_content .count_down .dot {
    font-size: 30px;
    font-weight: 800;
  }

  /* Searching Event */
  .searching_event .searching_container .wrapper {
    flex-direction: row;
  }

  .searching_event .searching_container .heading {
    font-size: 28px;
    text-align: start;
  }

  /* Event Category */
  .event_category .wrapper {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 20px;
  }

  /* Upcoming Events */
  .upcoming_events .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .upcoming_events .upcoming_box .banner_img_box {
    height: 170px;
  }

  .upcoming_events .upcoming_details,
  .upcoming_events .interested_details {
    padding: 20px;
  }

  /* Experts */
  .experts .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  /* Community */
  .community_hero .wrapper {
    flex-direction: row;
  }

  .community_hero .community_content .heading {
    text-align: start;
    font-size: 36px;
  }

  .community_hero .community_content .description {
    text-align: start;
  }

  .community_hero .community_content {
    width: 80%;
  }

  .community_hero .connected-people {
    text-align: start;
  }
}

/** Media Responsiveness min-width: 992px */

@media (min-width: 992px) {
  /* Container */
  .container {
    width: 970px;
  }

  /* Header */

  .header {
    .wrapper {
      .navbar {
        .nav_links {
          display: flex;
          position: relative;
          left: auto;
          padding: 0;
          margin-right: 50px;
          width: 100%;
          height: auto;
          box-shadow: none;

          /* Mobile Logo */
          .mobile_logo_box {
            display: none;
          }
          .mobile_logo {
            display: none;
          }

          .cross_icon {
            display: none;
          }

          .nav_item {
            margin-bottom: 0;
          }
        }

        /* Menu Icon */
        .menu_icon {
          display: none;
        }
      }
    }
  }

  /* Hero */

  .hero {
    /* Hero Content */
    .hero_content {
      margin-left: 0;

      /* Heading */
      .heading {
        font-size: 64px;
        text-align: start;
      }

      .sub_heading {
        text-align: start;
      }

      /* Description */
      .description {
        text-align: justify;
      }
    }
  }

  /* Popular */

  .most_popular,
  .searching_event .searching_container {
    padding: 35px 50px;
  }

  .popular_header .heading {
    font-size: 30px;
  }

  .popular_header .sub_heading {
    font-size: 19px;
  }

  /* Training slider */

  .slider {
    grid-template-columns: repeat(3, 1fr);
  }

  /* Successful story */

  .successful_story .successful_box {
    max-width: 100%;
  }

  .successful_story .successful_box .box_header {
    height: 360px;
  }

  .successful_story .successful_box .box_body {
    flex-direction: row;
    padding: 40px;
  }

  .successful_story .successful_box .profile_box {
    gap: 20px;
  }

  .successful_story .successful_box .profile_box .profile {
    width: 80px;
    height: 80px;
  }

  .successful_story .successful_box .box_body .batch {
    flex-direction: column;
    gap: 4px;
  }

  .successful_story .successful_box .profile_box .name {
    font-size: 20px;
  }

  /* Celebrity */

  .celebrity_seminar .seminar_box {
    flex-direction: row;
  }

  .celebrity_seminar .profile_box {
    flex-direction: column;
  }

  .celebrity_seminar .profile_box .profile {
    max-width: 150px;
    height: 170px;
    background-color: #00a652;
    border-radius: 8px;
    overflow: hidden;

    .profile_img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  /* Footer */
  .footer .wrapper {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
  }

  /* About page */
  .courses_hero .description {
    max-width: 600px;
  }

  /* Why */
  .why .wrapper {
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
  }

  .why .why_box {
    padding: 30px;
  }

  .why .why_box .title {
    font-size: 20px;
  }

  /* Event Page */
  .event_hero .event_content {
    margin-left: 0;
    text-align: start;
  }

  .event_hero .event_content .heading {
    text-align: start;
    font-size: 55px;
    line-height: 4rem;
    font-weight: 600;
  }

  .event_hero .event_content .location_box {
    margin-top: 20px;
  }

  .event_hero .event_content .location {
    justify-content: start;
  }

  .event_hero .event_content .location .location_box .title {
    font-size: 22px;
  }

  .event_hero .event_content .count_down {
    justify-content: start;
  }

  .event_hero .event_content .count_down .time {
    font-size: 60px;
  }

  .event_hero .event_content .count_down .title {
    font-size: 25px;
    margin-left: 5px;
  }

  /* Searching Event */
  .searching_event .searching_container {
    padding: 20px 40px 60px;
  }

  .searching_event .searching_container .wrapper {
    gap: 0;
  }

  .searching_event .searching_container .search_item {
    grid-template-columns: repeat(3, 1fr);
    gap: 0;

    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 3px solid var(--border-color);
    border-right: 0;
  }

  .searching_event .searching_container .search_box {
    background-color: var(--white-color);
    border-right: 2px solid var(--border-color);

    &:last-child {
      border-right: 0;
    }
  }

  .searching_event .searching_container .search_box.box-1 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .searching_event .searching_container .search_box select {
    background-color: white;
    text-align: start;
  }

  .searching_event .searching_container .search_icon {
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;
    padding: 19.5px;
  }

  /* Event Category */
  .event_category .wrapper {
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
  }

  .upcoming_events .upcoming_box .banner_img_box {
    height: 220px;
  }

  /* Experts */
  .experts .wrapper {
    grid-template-columns: repeat(4, 1fr);
  }

  /* Community page */
  .community_hero .wrapper {
    height: 45vh;
  }

  .community_hero .community_content {
    width: 50%;
  }

  .community_hero .background_image {
    display: block;
    width: 50%;
  }

  /* Community tabs */
  .community_tab {
    padding: 50px 0;
  }

  .community_tab .tabs ul {
    width: 100%;
  }

  /* News Feed */
  .news_feed_section .wrapper {
    flex-direction: row;
  }

  .news_feed_section .news_feed {
    width: 67%;
  }

  .news_feed_section .sidebar{
    width: 33%;
  }
}

/** Media Responsiveness min-width: 1280px */

@media (min-width: 1280px) {
  /* Container */
  .container {
    width: 1170px;
  }

  .hero {
    .hero_content {
      margin-left: 100px;
    }
  }

  /* Most popular */
  .col-md-12 {
    padding-left: 100px;
  }

  /* Celebrity */

  .celebrity_seminar .seminar_box {
    padding: 50px;
    column-gap: 30px;
  }

  .celebrity_seminar .profile_box {
    width: 50%;
  }

  .celebrity_seminar .seminar_details {
    width: 70%;
  }

  /* Our Instructor */
  .our_instructor .wrapper {
    grid-template-columns: repeat(4, 1fr);
  }

  /* Event Page */
  .event_hero .event_content {
    margin-left: 100px;
    text-align: start;
  }

  .event_hero .event_content .heading {
    font-size: 60px;
    line-height: 4.5rem;
  }

  .event_hero .event_content .count_down .time {
    font-size: 70px;
  }
}
